body {
    background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/yoga-woman_W23EUNXBCG.jpg");
    background-size: cover;
    

}

.index-page-container {
  background-color: honeydew;
  padding: 50px;
  
}
.welcome {
  text-align: center;
}
.sobriety {
  padding: 50px;
}

  /* Remove the navbar's default margin-bottom and rounded borders */ 
  .navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: black;
  }
 
 /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height:auto;} 
  }