body {
    background-color: rgb(192, 206, 129);
   
}


html body nav.navbar.navbar-light ul {
    list-style: none;
}

h1 {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

a {
    margin: auto;
    width: 50%;
    padding: 20px;
    display: block;
}
form {
    margin: auto;
    width: 50%;
    padding: 20px;
    display: block;
}