<html>

<head>
    {% if title %}
    <title>{{ title }} - Sobriety App</title>
    {% else %}
    <title>Welcome to the Sobriety App!</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css"></style>

</head>

<body>
    <nav class="navbar navbar-light" style="background-color: #ce9be0" role="navigation">
        <div class="container-fluid">
           
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/sobriety_date">Home</a></li>
                    
                </ul>
               
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://github.com/ktompky">Want to see the code?</a></li>
                   
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
   
    {% block content %}{% endblock %}
 
</body>

</html>